* {
    font-family: Material Design Icons, JetBrainsMono Nerd Font;
    font-size: 15px;
    padding: 0px;
  }
  
  window#waybar {
    background-color: transparent;
    color: #ffffff;
  
  }
  
  window#waybar.hidden {
    opacity: 0.1;
  }
  
  #window {
    color: #64727d;
  }
  
  #custom-clock,
  #tray,
  #mode,
  #custom-lock,
  #idle_inhibitor {
    border-radius: 8px 8px 8px 8px;
  }
  
  #cpu {
    color: #6c71c4;
    border-radius: 8px 8px 8px 8px;
  }
  
  #memory {
    color: #2aa198;
    border-radius: 8px 8px 8px 8px;
  }
  
  #memory,
  #cpu {
    font-size: 16px;
  }
  
  @keyframes button_activate {
    from {
      opacity: .3
    }
  
    to {
      opacity: 1.;
    }
  }
  #workspaces {
    margin-right: 0px;
    opacity: 0.88;
    color:white
    
  }
  
  #workspaces button {
    color: #ffffff;
    border-radius: 25px;
    font-weight:bold;
    margin: 1px;
    padding:5px;
  }
  
  #workspaces button:hover{
    color: #91ffc3;
    border-color: transparent;
  }
  
  #workspaces button:focus{
    border-color: transparent;
  }
  
  #workspaces button.active{
    color:#000000;
    background-color: #a6e3a1;
  }
  
  
  
  .modules-right{
    background-color: rgba(30, 34, 42, 1);
    border-radius: 10px;
    padding: 5px;
  }
  
  #workspaces,
  #custom-ibus,
  #custom-clock,
  #backlight,
  #battery,
  #cpu,
  #memory,
  #pulseaudio,
  #custom-launcher,
  #custom-powermenu,
  #tray,
  #network {
    padding: 0em 1em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 0px;
    font-size: 13px;
  }
  
  #battery,
  #backlight,
  #memory,
  #pulseaudio,
  #custom-powermenu,
  #tray,
  #network,
  #custom-launcher{
    background-color: rgba(30, 34, 42, 1);
  }
  
  
  #custom-launcher {
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 5px;
    font-size: 15px;
    border-radius: 8px 0px 0px 8px;
    color: #1793d1;
  }
  
  #pulseaudio {
    color: #268bd2;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 6px 8px 8px 6px;
  }
  
  #pulseaudio.muted {
    color: #fb958b;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 6px 8px 8px 6px;
  }
  
  #backlight {
    color: #FFFFFF;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 6px 8px 8px 6px;
    font-size: 15px;
  }
  
  #network {
    padding-left: 8px;
    color: #268bd2;
    border-radius: 8px 8px 8px 8px;
    padding-right: 8px;
    font-size: 15px;
  }
  
  #network.disconnected {
    color: #fb958b;
  }
  
  #custom-powermenu {
    color: #e78284;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0px 8px 8px 0px;
  }
  
  #battery {
    color: #8fbcbb;
    border-radius: 8px 8px 8px 8px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 14px;
    margin-right: 5px;
  }
  
  #battery.critical,
  #battery.warning,
  #battery.full,
  #battery.plugged {
    color: #91ffc3;
    padding-left: 6px;
    padding-right: 12px;
    font-size: 14px;
  }
  
  #battery.charging {
    color: #87bb82;
    font-size: 14px;
    padding-right: 13px;
    padding-left: 8px;
  }
  
  #battery.full,
  #battery.plugged {
    font-size: 14px;
    padding-right: 10px;
  }
  
  @keyframes blink {
    to {
      background-color: rgba(30, 34, 42, 0.5);
      color: #abb2bf;
    }
  }
  
  #battery.warning {
    color: #ecd3a0;
  }
  
  #battery.critical:not(.charging) {
    color: #fb958b;
  }
  
  #custom-lock {
    color: #ecd3a0;
    padding: 0 15px 0 15px;
    margin-bottom: 0px;
  }
  
  #custom-clock {
    color: #ffffff;
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
    font-weight: bolder;
    margin-right: 10px;
    border-radius: 8px;
  }
  
  tooltip {
    border-radius: 8px;
    padding: 15px;
    background-color: #131822;
  }
  
  tooltip label {
    padding: 5px;
    background-color: #131822;
  }
  
  label:focus {
    background-color: #131822;
  }
  
  #tray {
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    border-radius: 8px 8px 8px 8px;
  }
  
  #tray>.passive {
    -gtk-icon-effect: dim;
  }
  
  #tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
  }
  
  #idle_inhibitor {
    background-color: #131822;
  }
  
  #idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
  }